CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_ESPTOOLPY_NO_STUB=y
CONFIG_ESPTOOLPY_FLASHMODE_QIO=y
CONFIG_CACHE_L2_CACHE_256KB=y
CONFIG_SPI_FLASH_SUPPORT_BOYA_CHIP=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ_360=y
CONFIG_ESP_DEFAULT_CPU_FREQ_MHZ=360
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y
CONFIG_LCD_DSI_ISR_CACHE_SAFE=y
CONFIG_LV_DRAW_BUF_ALIGN=64
CONFIG_LV_OBJ_STYLE_CACHE=y
# CONFIG_LV_USE_PPA is not set
CONFIG_LV_USE_FLOAT=y
